<h1>FlickrDetail#index</h1>
<p>Find me in app/views/flickr_detail/index.html.erb</p>

<p>photo ID is: <%= @photo_detail[0] %></p>
<p>Username is: <%= @photo_detail[1] %></p>
<p>Real name is: <%= @photo_detail[2] %></p>
<p>Location: <%=@photo_detail[3] %></p>
<p>Path Alias (to link to image): https://www.flickr.com/photos/<%= @photo_detail[4] %>/<%= @photo_detail[0] %>/</p>
<p>Tags/ Description is: <%= @photo_detail[5] %></p>
<p>State is: <%= @photo_detail[6] %></p>
<p>Country is: <%= @photo_detail[7] %></p>
